 section h1{
     font-size: 30px;
 }
 
 .item-card-detail {
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 60%;
    background-color: black;
}

.item-card-detail2 img{
    margin-bottom: 100px; 
    width: 50vh
}

.item-card-detail button{
    margin-left: 0px;
}

.cargando {
    width: 1000px;
}
