.item-card{
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 39vh;
    background-color: black;
}

.item-card img{
    margin-bottom: 20px; 
    width: 40vh
}

.item-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 40%);
}

.item-card p {
    margin: 3px 0;
    font-size: 15px;
   
}

.item-card h2 {
    margin: 2px 0;
    
}

.more{
    color:  rgba(111,9,121,1);
    font-weight: bold;
    text-align: right;
}

.delete {
    color: red;
    text-align: right;
}

.more:hover,
.delete:hover {
    text-decoration: underline;
    cursor: pointer;
}

.show{
    display: block;
}

.hide{
    display: none;
}

