nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,9,121,1) 39%);;
    color: white
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .main-nav li,
  .user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  